

/* Denne delen er for navigasjonsknapper*/
.navigation
{
	background-color: #222;
	width: 960px;
	margin: 0 auto 0 auto;
}

.nav_wrapper
{
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

.navigation ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}

.navigation ul li
{
	display: inline-block;
}

.navigation ul li:hover
{
	background-color: #333;
}

.navigation ul li a, visited
{
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;
}

.navigation ul li a:hover 
{
	color: #ccc;
	text-decoration: none;
}

/* Kan lage knappene til drop-down buttons */

.wrapper
{
	width: 960px;
	margin: 0 auto 0 auto;
}

.heading
{
	font-family: Arial black;
	font-weight: bold;
	height: 50px;
	padding: 20px;
	border: solid 2px;
	text-align: left;
	background-color: lightgrey;
}

.content
{
	min-height: 1000px;
	width: 700px;
	float: left;
	margin: 0 auto 0 auto;
}

.sidebar
{
	width: 260px;
	float: right;
	background-color: lightblue;
	min-height: 1000px;
}

.footer
{
	clear:both;
	background:lightyellow;
	height: 40px;
	text-align: center;
	padding:10px;
}


/* Søkbaren	*/
.searchbar
{
	margin-left: 5%;
}

#search
{
	padding: 7px;
	border: 1px solid #607d8b;
	width: 180px;
}

#submit
{
	padding: 7px;
	background: #607d8b;
	border: 1px solid #607d8b;
	color:white;
	margin-left: -5px;
	cursor:pointer;
}

#submit:hover
{
	background: #333;
	transition:all 0.5s;
}

