.wrapper
{
	width: 1600px;
	margin: 0 auto 0 auto;
}

.heading
{
	height: 50px;
	padding: 20px;
	border: solid 2px;
	text-align: left;
	background-color: lightgrey;
}

.navigation
{
	height:50px;
}

.content
{
	min-height: 1300px;
	width: 1000px;
	float: left;
}

.sidebar
{
	width: 300px;
	float: right;
	background-color: lightblue;
	min-height: 1000px;
}

.footer
{
	clear:both;
	background:lightyellow;
	height: 40px;
	text-align: center;
	padding:10px;
}

.searchbar
{
	float:right;
}

#search
{
	padding: 7px;
	border: 1px solid #607d8b;
	width: 220px;
}

#submit
{
	padding: 7px;
	background: #607d8b;
	border: 1px solid #607d8b;
	color:white;
	margin-left: -5px;
	cursor:pointer;
}

#submit:hover
{
	background: #333;
	transition:all 0.5s;
}