img
{
	max-width: 100%;
	max-height: 100%;
}

html
{
	padding-top: 70px;
	padding-right: 450px;
	padding-left: 150px;
}

.container
{
	float: left;
	display: block;
	text-align: justify left;
	text-justify: inter-word;
	width: 260px;
	margin-left: 20px;
	border: solid 2px;
}

.fakter
{
	padding: 25px;
}


.post-title
{
	margin-left: 20px;
	font-family: Arial black;
	font-weight: bold;
	font-size: 100%;
}


.noekkelord
{
	margin-left: 300px;
	text-align: justify left;
	display: block;
}

