img
{
	max-width: 100%;
	max-height: 100%;
}

html
{
	padding-top: 70px;
	padding-right: 450px;
	padding-left: 150px;
}

.container
{
	float: left;
	display: block;
	text-align: justify left;
	width: 260px;
	margin-left: 20px;
	border: solid 2px;
}

.fakter
{
	padding: 25px;
}


.post-title
{
	margin-left: 20px;
	font-family: Arial black;
	font-weight: bold;
	font-size: 100%;
}


.noekkelord
{
	margin-left: 20px;
	display: block;
	width: 700px;
	float:left;
}

@media screen and (max-width:960px)
{	
	.container
	{
		width:260px;
		margin-left: 0px;
	}

	.noekkelord
	{
		width:200%;
		margin-left: 0px;
	}
	
}

@media screen and (max-width:743px)
{
	.container
	{
		width:260px;
	}

	.noekkelord
	{
		width:300px;
	}
}
