
html
{
	font-size: 90%;
}

/* Denne delen er for navigasjonsknapper*/
.navigation
{
	background-color: #222;
	width: 1200px;
	margin: 0 auto 0 auto;
}

.nav_wrapper
{
	width: 1200px;
	margin: 0 auto;
	text-align: left;
}

.navigation ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}

.navigation ul li
{
	display: inline-block;
}

.navigation ul li:hover
{
	background-color: #333;
}

.navigation ul li a, visited
{
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;
}

.navigation ul li a:hover 
{
	color: #ccc;
	text-decoration: none;
}

/* Kan lage knappene til drop-down buttons */

/* wrapper for tittelen*/
.wrapper
{
	width: 1200px;
	margin: 0 auto 0 auto;
}

/* Tittelen */
.heading
{
	font-family: Arial black;
	font-weight: bold;
	height: 50px;
	padding: 20px;
	border: solid 2px;
	text-align: left;
	background-color: lightgrey;
}

/* Main content */
.content
{
	min-height: 700px;
	width: 600px;
	margin: 0 0 0 0;
	float: middle;
}

/* Side bars */
.leftbar,.rightbar
{
	width: 300px;
	background-color: lightblue;
	min-height: 1000px;
}

/* Side bar på høyre og leftbar på venstre*/
.rightbar
{
	float: right;
}

.leftbar
{
	float: left;
}

.footer
{
	clear:both;
	background:lightyellow;
	height: 40px;
	text-align: center;
	padding:10px;
	font-size: 16px;
}

/* Søkbaren	*/
.searchbar
{
	width: 80%;
	margin-left: 10%;
}

#search
{
	padding: 7px;
	border: 1px solid #607d8b;
	width: 90%;
}

#submit
{
	padding: 7px;
	background: #607d8b;
	border: 1px solid #607d8b;
	color:white;
	margin-left: -5px;
	cursor:pointer;
}

#submit:hover
{
	background: #333;
	transition:all 0.5s;
}

/* 
	Oppløsning design for oppløsninger som er mindre enn 1280 
	Denne brukes for alle plateformer og iphone 6s plus
*/
@media screen and (max-width: 1279px)
{
	.navigation
	{
		width: 960px;
	}
	.wrapper
	{
		width: 960px;
	}
	.content
	{
		width:60%;
		display:block;
		float:left;
	}
	.rightbar, .leftbar
	{	
		width: 20%;
	}
}

/* 
	En oppløsning for 799 - 500 px 
	Denne kan brukes til Iphone SE
*/
@media screen and (max-width: 985px)
{
	.wrapper
	{
		width: 720px;
		margin-left: 5%;
	}	

	.navigation
	{
		width: 720px;
		margin-left: 5%;
	}

	.heading
	{
		height: auto;
	}

	.content, .rightbar
	{
		float: left;
	}

	.leftbar, .rightbar
	{
		width: 50%;
	}

	.leftbar
	{
		float: left;
	}

}

/* 
	Oppløsningen som brukes til Ipod touch og Iphone 5.
*/

@media screen and (max-width: 399px)
{
	.navigation
	{
		width:300px;
		margin-left: -2%;
	}
	.navigation ul li
	{
		display:block;
	}
	.wrapper
	{
		width: 300px;
		margin-left: -2%;
	}

	html
	{
		font-size: 130%;
	}

	.leftbar, .rightbar
	{
		width: 100%;
	}
}

/*************************************************************************************/

.thumb
{
	float:left;
}

.fakter
{
	float: left;
	margin-left: 10px;
}

.noekkelord
{
	float:left;
}
